{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <img class="d-block w-100 h-50" src="{% static 'img/background.jpg' %}" alt="banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{single_med.model}}</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">{{single_med.brand}}</a></li>
                <li class="active">{{single_med.model}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Med details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        <div class="pull-left">
                            <h3>{{single_med.model}}</h3>
                        </div>
                    </div>
                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Chi tiết</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                  <h3 class="heading-2">
                                    Lỗi cần xử lý:
                                    <p>{{single_med.problem}}</p>
                                  </h3>
                                  <h3 class="heading-2">
                                      Nguyên nhân:
                                      <p>{{single_med.reason}}</p>
                                  </h3>

                                  <h3 class="heading-2">
                                        Hướng khắc phục:
                                      <p>{{single_med.fixproblem}}</p>
                                  </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-992">
                        <form action="{% url 'contact' %}">
                          <button  class="btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"> Send message</button>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Get a Question?</h5>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>Khoa Khoa Học Ứng Dụng, Đại Học Bách Khoa - ĐHQG TPHCM
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="mailto:nguyenlac1301@gmail.com">nguyenlac1301@gmail.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:0945 563 650">0945 563 659</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->
{% endblock %}
