{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->



<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Chào mừng đến với <span>Meds</span></h1>
            <p> Dưới đây là kết quả tìm kiếm của bạn </p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
              {% for med in meds %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'med_detail' med.id %}">{{ med.model }}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'med_detail' med.id %}">
                                  <h6>{{ med.problem }}</h6>
                                    <!-- <i class="flaticon-pin"></i>{{ med.problem }} -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-992">
                        <form action="{% url 'contact' %}">
                          <button  class="btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"> Send message</button>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Nếu không tìm được kết quả phù hợp - hãy liên hệ với chúng tôi </h5>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>Khoa Khoa Học Ứng Dụng, Đại Học Bách Khoa - ĐHQG TPHCM
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="mailto:nguyenlac1301@gmail.com">nguyenlac1301@gmail.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:0945 563 650">0945 563 659</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>

    </div>
<!-- Featured car end -->



{% endblock %}
